@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
}


.playwrite-hu-1 {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.playwrite-hu-2 {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

